body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td a{
    margin: 0;
    padding:0;
}
body {
    font: 12px "Microsoft YaHei";
    color: #333;
}
/*°æÐÄ*/
.inner {
    width: 1200px;
    margin: 0 auto;
}
ul,ol {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfloat:after {
    content:"";
    display:block;
    clear:both;
    height:0;
    line-height:0;
    visibility:hidden;
}
.clearfloat {
    zoom:1;   /*¼æÈÝieµÍ°æ±¾ä¯ÀÀÆ÷  */
}
a {
    text-decoration: none;
    color: #333;
}
